.slide{
    color: blue;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.navbar a:hover{
    background-color: #50a9af;
}
.navbar a:active{
    background-color: #408c7f;
}