.slide{
    color: blue;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.slide1{
    background-image: url('./assets/cover1.jpg');
}
.slide2{
    background-image: url('./assets/cover2.jpg');
}
.slide3{
    background-image: url('./assets/cover3.jpg');
}
.slide4{
    background-image: url('./assets/cover4.jpg');
}

.navbar a:hover{
    background-color: #99c24d;
}
.navbar a:active{
    background-color: #408c7f;
}